<h1>Post</h1>
<% i=0 %>
<ol>
<% while i<@post.length do %>
<li><%= @post[i].title %>
<br>
<%= @post[i].content %>
<br>
<%= link_to 'Delete', posts_destroy_path(@post[i]), method: :delete, 
                         data: { confirm: 'Are you sure?' } %>
</li>

<% i+=1 %>
<% end %>
</ol>